ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  align-items: center;
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

.head-m {display: inline-block;}

nav {
    width: 580px;
    position: relative;
    margin: 0 auto;
}

.log-btn{
    color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
    hover-color: #fff;
}

.sin-btn {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    hover-color: #fff;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black; /* Параметры рамки */
   }

.listtable {
    border-collapse: collapse;
    border: 1px solid black;
}
